:root {
    --dark-blue: #06283D;
    --main-blue: #1363DF;
    --light-blue: #47B5FF;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* div {
    outline-style: solid;   
} */


h1, h2, h3, h4, h5, h6, p {
    cursor: pointer;
    margin: 0;
    padding: 0;
}


.container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.sidebar {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--light-blue);
    grid-row: 1/7;
}

.topbar {
    grid-column: 2/7;
}

.main {
    background-color: lightgrey;
    color: var(--dark-blue);
    grid-row: 2/7;
    grid-column: 2/7;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


.projects {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 1rem;
}

.project {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.nav-item {
    display: flex;
    align-items:center;
    margin-bottom: 1rem;
    transition: 0.5s;
}

.nav-item:hover {
    color: var(--dark-blue);
    transition: 0.5s;
}

.material-symbols-outlined {
    font-size: 1rem;
    padding-right: 0.75rem;
}

.dashboard-icon {
    font-size: 2rem;
    padding-right: 0.25rem;
}