:root {
    --dark-blue: #06283D;
    --main-blue: #1363DF;
    --light-blue: #47B5FF;
    --grey: rgb(216, 224, 226);
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* div {
    outline-style: solid;   
} */


h1, h2, h3, h4, h5, h6, p {
    cursor: pointer;
    margin: 0;
    padding: 0;
}


.container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.sidebar {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--light-blue);
    grid-row: 1/7;
}

.topbar {
    grid-column: 2/7;
}

.main {
    background-color: var(--grey);
    color: var(--dark-blue);
    grid-row: 2/7;
    grid-column: 2/7;
    gap: 1rem;
    padding: 1rem;
    display: flex;
}

.left-side {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.projects {
    margin-top: 0.5rem;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.project {  
    box-sizing: border-box; 
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border-left-style: solid;
    border-width: 6px;
    border-color: orange;
}

.project > h3 {
    margin-left: 1rem;
    margin-top: 1rem;
}

.project > p {
    margin-left: 1rem;
}

.right-side {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.announcements {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    overflow: hidden;
}

.announcement {
    width: 100%;
    height: 100%;
    background-color: white;
}

.trending {
    margin-top: 0.5rem;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    overflow: hidden;
}

.trend-item {
    width: 100%;
    height: 100%;
    background-color: white;
}

.nav-item {
    display: flex;
    align-items:center;
    margin-bottom: 1rem;
    transition: 0.5s;
}

.nav-item:hover {
    color: var(--dark-blue);
    transition: 0.5s;
}

.material-symbols-outlined {
    font-size: 1rem;
    padding-right: 0.75rem;
}

.dashboard-icon {
    font-size: 2rem;
    padding-right: 0.25rem;
}

.topbar {
    display: flex;
    flex-direction: column;
}

.search, .user {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
}

.search-section {
    display: flex;
    width: 75%;
    height: 100%;
    align-items: center;
    padding-left: 1rem;
}

.search-section > .material-symbols-outlined {
    font-size: 1.5rem;
}

form {
    width: 80%;
}

.search-input {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: lightgrey;
    height: 1.5rem;
    border: none;
    width: 100%;
}

.notification-section {
    display: flex;
    justify-content: space-around;
    width: 25%;
    height: 100%;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.notification-section > .material-symbols-outlined {
    font-size: 2rem;
}

.notification-section > h1 {
    font-size: 1rem;
}

img {
    height: 2.5rem;
    width: auto;
    border-radius: 50%;
}